<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
    <p>Xin chào <span style="font-weight: bold;" th:text=${name}></span>,</p>
    <p> Chúng tôi gửi bạn liên kết để kích hoạt tài khoản bạn vừa đăng ký trên hệ thống <span style="font-weight: bold;">SCOSS - Hỗ trợ hướng nghiệp</span> của chúng tôi. </p>
    <p>Vui lòng nhấn vào nút bên dưới để kích hoạt tài khoản.</p>
    <blockquote style="display: flex; align-items: center; margin: 0 0 20px 0; border-left:10px solid #b1b4b6; padding: 0 0 0.1px 15px; font-size:20px;">
        <a style="text-decoration:none;padding: 8px 16px; background-color: #4285F4; color: white; border-radius: 8px" th:href="${activateLink}">Kích hoạt ngay</a>
    </blockquote>
    <p style="color: red"><span style="text-decoration: underline">Lưu ý:</span> Vui lòng kích hoạt tài khoản trong vòng 15 phút.</p>
    <p>Đây là email tự động vui lòng không trả lời.</p>
</body>
</html>