<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../layouts/base}">
<head>
    <title>Xóa phương án</title>
</head>
<body>
<section layout:fragment="content">
    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Xóa phương án</h1>
        </div>
    </header>
    <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <div class="isolate bg-white px-6 py-4 lg:px-8">
                <form th:action="@{/admin/options/{optionId}/delete(optionId=${option.id})}" th:object="${option}" method="POST" class="mx-auto max-w-xl">
                    <input type="hidden" th:field="*{question}">
                    <input type="hidden" th:field="*{id}">
                    <!--                    <input type="hidden" th:value="${surveyId}">-->
                    <div class="w-full flex flex-col justify-center">
                        <p>Sau khi xóa, dữ liệu về phương án này sẽ bị mất vĩnh viễn.</p>
                        <p class="font-semibold">Bạn vẫn muốn tiếp tục xóa?</p>
                    </div>
                    <div class="mt-10 flex gap-2">
                        <a th:href="@{/admin/options/{optionId}(optionId=${option.id})}" class="block w-full rounded-md bg-gray-400 hover:bg-gray-300 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Trở lại</a>
                        <button type="submit" class="block w-full rounded-md bg-red-600 hover:bg-red-700 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Xóa phương án</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</section>
</body>
<script src="/server/js/surveyDetail.js"></script>
</html>